/* основной цвет текста #757575 */
/* вторичный цыет текста #212121; */
/* белый #FFFFFF; */
/*текст футера rgba(255, 255, 255, 0.6); */
/* цвет текста логотипа #000000; #2196F3; */

:root {
  --primery-tex-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --bg-color: #ffffff;
  --primery-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --white-color: #ffffff;
  --bg-button-color: #188ce8;
  --bg-prbutton-color: #f5f4fa;
  --footer-tx-color: rgba(255, 255, 255, 0.6);
  --prime-sl-color: #afb1b8;

  --card-set-gap: 30px;
  --section-padding: 94px;
}

body {
  color: var(--primery-tex-color);
  background-color: #ffffff;

  font-family: 'Roboto', sans-serif;

  letter-spacing: 0.03em;
}

/*------------------- Утилиты -----------------------*/

/* input:-webkit-autofill {
  -webkit-background-clip: text;
} */

input {
  background: transparent;
}

/* input.no-autofill-bkg:-webkit-autofill {
  -webkit-background-clip: text;
} */

.clients {
  fill: var(--footer-tx-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button-primary {
  padding: 0%;
}

.feature-title {
  margin-top: 0;
}

.button {
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ----------------Container------------------------- */
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* -----------------Header----------------- */
.bline {
  padding: 0;
  margin: 0;

  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;

  padding-top: 0;
  padding-bottom: 0;
}

/* ------------------Logo------------------ */
.logo-link {
  color: var(--logo-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

/* ----------------Site nav-------------------------- */
.site-nav {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav.list {
  display: flex;
  margin-left: 93px;
  padding-top: 32px;

  align-items: center;
}

.site-nav .link {
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}
/*------------------------ Contacts--------------------- */
.contacts {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .item:not(:last-child) {
  margin-right: 30px;
}

.contacts.list {
  display: inline-flex;
  border: none;
  align-items: center;
}

.contacts.link {
  align-items: center;
  color: var(--primery-tex-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts.link:hover,
.contacts.link:focus {
  color: var(--accent-color);
}

.contacts.link:hover > .icon-contacts {
  fill: var(--accent-color);
}

.contacts.link:focus > .icon-contacts {
  fill: var(--accent-color);
}

.icon-contacts {
  margin-right: 10px;
  align-items: center;
  fill: var(--primery-tex-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------- INDEX ----------------------*/

/* ---------------------Hero --------------------- */
.hero.section {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 0, 0, 0.4),
      rgba(0, 48, 0, 0.4),
      rgba(0, 0, 58, 0.4)
    ),
    url(../images/hero-fon-1.jpg);
}

.hero.container {
  background: none;
}

.hero {
  background-color: var(--primery-bg-color);

  text-align: center;
}

.hero-title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: var(--card-set-gap);
  width: 696px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ---------------------Button ---------------------*/
.button-hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  color: var(--white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--bg-button-color);
}

/*---------------------- Features --------------------*/
.section-title {
  margin-top: 0;
}

.features.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.feature-title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features {
  font-size: 14px;
  line-height: 1.7;
}

.features.list {
  display: flex;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.feature.item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.feature-content {
  margin: 0;
}

/*--------------------- Work --------------------------*/
.work.section {
  padding-bottom: var(--section-padding);
}

.work-title {
  display: block;
  width: 376px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 50px;
}

.work.list {
  display: flex;
}

.work.item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.work.item {
  position: relative;
}

.activities {
  position: absolute;
  width: 100%;
  bottom: 0;

  padding: 27px 0;

  background-color: rgba(47, 48, 58, 0.8);
}

.activities-content {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

/*----------------------- Team-------------------------- */
.team.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.team {
  background-color: var(--secondary-bg-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.main-team.title {
  display: block;
  width: 264px;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: var(--card-set-gap);

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
}

.team.list {
  display: flex;
}

.team-content {
  margin-top: 0;
  margin-bottom: 16px;
}

.team.item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.team.item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* -----------------------Social link--------------------------------------- */

.social.list {
  display: flex;
  margin: 0 32px 30px;
  align-items: center;
}

.team-slicon:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  fill: var(--prime-sl-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--accent-color);
}

.social-icon:hover .networks {
  fill: var(--white-color);
}

.social-icon:focus .networks {
  fill: var(--white-color);
}

/* ----------------------------Clients-------------------------------------- */

.clients {
  padding: 94px 0;
}

.clients.container {
  padding: 0 15px;
}

.clients-title {
  display: block;
  width: 390px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 50px;
}

.clients.list {
  display: flex;
  padding: 0;
}

.client-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.clients-icon {
  display: inline-block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  fill: var(--prime-sl-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon:hover,
.clients-icon:focus {
  border-color: var(--accent-color);
}

.clients-icon:hover > .clients-logo {
  fill: var(--accent-color);
}
.clients-icon:focus > .clients-logo {
  fill: var(--accent-color);
}

/*------------------------ Footer ----------------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primery-bg-color);
}

.footer.container {
  display: flex;

  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.flex-item-1 {
  width: 231px;
  margin-right: 70px;
}

.footer.list {
  padding-top: 0;
  padding-bottom: 0;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer.logo {
  display: block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;

  color: var(--white-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.address,
.footer.logo {
  text-decoration: none;
}

.address {
  color: var(--white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer.link {
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.footer.link:hover,
.footer.link:focus {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

/* -----------------------Social networks-------------------------- */

.flex-item-2 {
  padding-top: 12px;
  max-height: 80px;
  width: 206px;
  height: 44px;
}

.cf-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.cf.list {
  display: flex;
  width: 206px;
}

.cf-item:not(:last-child) {
  margin-right: 10px;
}

.cf-icon {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cf-networks {
  fill: var(--white-color);
}

.cf-icon:hover,
.cf-icon:focus {
  background-color: var(--accent-color);
}

/* -----------------------------Form------------------------------ */

.footer.form-field {
  display: flex;
  position: relative;
  margin-left: 93px;
  padding: 0;
  width: 570px;
}

b {
  position: absolute;
  top: 12px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-form .footer-mail {
  height: 50px;
  width: 358px;
  padding: 15px 16px 15px 16px;
  margin-right: 12px;

  background-color: var(--primery-bg-color);

  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:focus {
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.send-button {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 29px;

  color: var(--white-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background-color: var(--bg-button-color);
}

.icon-send {
  position: absolute;
  right: 0;
  top: 0;
  margin: 13px 28px 13px 0;
}

/*--------------------- PORTFOLIO----------------------*/

/* -----------------Filtr---------------- */

.button-primary {
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--bg-prbutton-color);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio.container {
  padding-top: 0;
  padding-bottom: 0;
}

.portfolio-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filtr.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtr.item:not(:last-child) {
  margin-right: 8px;
}

.exampl.list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3-30px);
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.exampl-item {
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-discription {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 322px;
  height: 168px;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  letter-spacing: 0.03em;

  color: var(--white-color);
}

.exampl.link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exampl.link:hover .product-overlay {
  transform: translateY(0);
  opacity: 1;
}

.exampl.link:hover,
.exampel.link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.exampl-meta {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;
}

.inventory {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primery-tex-color);

  font-size: 16px;
  line-height: 1.9;
}

/* --------------------------Backdrop--------------------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 39px 46px 41px 34px;

  width: 528px;
  height: 581px;

  border-radius: 4px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
  width: 100%;
  height: 100%;
}

.button-close {
  position: absolute;
  display: block;
  top: 7px;
  right: 14px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 50%;

  cursor: pointer;

  background-color: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-close:hover .button-icon,
.button-close:focus .button-icon {
  fill: var(--accent-color);
}

.button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.form {
  padding: 0;
}

.input {
  width: 448px;
  margin-bottom: 20px;
}

.input .modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.form-fild {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-label {
  margin-bottom: 4px;
}

.modal-comment {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-fild:not(:last-child) {
  margin-bottom: 10px;
}

.agreement {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contract {
  font-style: normal;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);

  border-bottom: 1px solid #2196f3;
}

.agreement-label {
  display: flex;
  position: relative;
  width: 425px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  opacity: 0;
}

.checkbox:checked ~ .check-icon {
  opacity: 1;
}

.checkbox:checked + .icon-agreement {
  border-color: transparent;
  background-color: var(--accent-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.icon-agreement {
  display: inline-block;
  width: 16px;
  height: 15px;
  padding: 0;

  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color);

  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--bg-button-color);
}
